/* --------headings-------- */

h1 {
    font-size: 3rem;
    font-weight: 700;
}

#header h1 {
    font-size: 4rem;
    font-family: "Zilla Slab", serif;
    font-weight: 700;
}

#header h2 {
    font-size: 2rem;
    font-family: "Zilla Slab", serif;
}

.questionaire-headings {
    padding: 5% 0 0 5%;
    text-align: center;
}

/* --------section themes-------- */

.orange {
    background-color: #ffbe2d !important;
    color: white !important;
    text-align: center;
}

.blue {
    background-color: #00ffea !important;
    text-align: center;
}

#navbar {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid black;
    opacity: 90%;
    z-index: 1;
}

#header {
    background-image: url("images/weights.png");
    height: 580px;
    background-size: cover;
}

#bio {
    margin: 0 auto;
}

#cta {
    padding: 1%;
    text-align: center;
}

/* --------media queries-------- */

@media (max-width: 1250px) {
    .hand-pic {
        display: none;
    }
    .q-button {
        position: unset !important;
        width: unset !important;
        margin-left: 50px !important;
    }
    .question-form {
        width: 90%;
    }
}

@media (max-width: 900px) {
    #navbar {
        position: static;
    }
}

@media (max-width: 767px) {
    body{
        margin: 0;
        width: 100vw;
    }
    #header {
        background-image: url("images/cropped-weights.png");
        background-size: auto;
        background-repeat: no-repeat;
        height: 380px;
    }
    #header h1 {
        font-size: 2rem;
    }
    #header h2 {
        position: absolute;
        right: 10px;
        top: 86%;
    }
    .services-para {
        display: none;
    }
    .mini-contact {
        display: none;
    }
    .kandra-picture {
    margin-top: 15px;
    }
}

/* --------navbar section-------- */

.navbar a {
    color: white !important;
    font-weight: 900;
}

/* --------header section-------- */

.mini-contact {
    position: absolute;
    right: 3%;
    top: 20%;
    width: 30%;
    text-align: center;
}

.message {
    margin: 3% auto;
}

.intro-headings {
    padding: 5%;
    position: relative;
}

/* --------bio section-------- */

.bio-headings {
    text-align: left;
    padding-top: 2%;
    margin-right: auto;
    margin-left: 10px;
}

.k-div {
    margin-left: auto;
    margin-right: 0;
    padding: 1% 0;
}

.kandra-picture {
    border-radius: 70%;
}

/* --------services section-------- */

.services-row {
    text-align: center;
    margin: 10px auto;
}

.services-row {
    margin: 0;
    padding: 2% 3% 0 3%;
}

.icon {
    padding: 15px;
}

.lifting-icon {
    padding-bottom: 50px;
}

.yoga-icon {
    padding-top: 50px;
}

.health-icon {
    padding-top: 25px;
    position: relative;
    left: 13px;
}

.col {
    position: relative;
}

.services-para {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    opacity: 75%;
}

/* --------cta section-------- */

.cta-row {
    padding: 2% 3% 0 3%;
}

.cta-btn1 {
    padding: 15px;
    margin: 25px;
    font-size: 1.2rem;
}

/* --------questionaire section-------- */

#questionaire {
    background: rgb(0, 255, 234);
    background: linear-gradient(
        173deg,
        rgba(0, 255, 234, 1) 26%,
        rgba(255, 190, 45, 1) 74%
    );
    background-size: cover;
    padding-bottom: 25px;
}

.question-form {
    background: rgb(192, 127, 201);
    border: 2px solid black;
    width: 80%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 1%;
    position: relative;
}

label {
    padding-bottom: 10px;
    width: 95%;
    margin-left: 20px;
}

.hand-pic {
    width: 300px;
    position: absolute;
    top: 250px;
    right: 50px;
}

.q-button {
    position: absolute;
    bottom: 60px;
    right: 120px;
    width: 15%;
    font-size: 2rem;
}

/* --------footer section-------- */

.copyright {
    position: absolute;
    right: 20px;
    font-size: 0.7 rem;
    opacity: 80%;
}
